// Slideshow-specific styles
@import "@/shared/styles/variables.scss";
@import "@/shared/styles/mixins.scss";

// Import organized style modules
@import "./sui-overrides.scss";
@import "./slide-layout.scss";
