// Slideshow-specific styles
@import "@/shared/styles/variables.scss";
@import "@/shared/styles/mixins.scss";

// Import organized style modules
@import "./sui-overrides.scss";
@import "./form-patterns.scss";
@import "./gap-spacing.scss";
@import "./proto-slide-layout.scss";
@import "./proto-settings-panel.scss";