/* #region MP usages */
/*
 * MP usages
 * see: https://github.com/siteminder-au/platform-enterprise/blob/master/frontends/enterprise/src/assets/styles/sui-variables.css
 * to see the css variables that are used:
 * - search for `sui-themes` in package.json
 * - search for `--sm-`
 */
:root {
  /* Colours */
  --color-mp-brand: #102027;
}

.sm-app-header {
  --sm-c-app-header-top-bar-color-background: var(--color-mp-brand);
  --sm-c-app-header-border-width: 0;
  --sm-c-app-header-menu-color-background-hover: var(--color-mp-brand);
  --sm-c-app-header-logo-margin: auto 0 auto 8px;
}

/* #region start mobile nav design token overrides */
.sm-nav {
  --sm-c-app-header-tablet-nav-list-color-background: var(--color-pure-white);

  /* nav header */
  --sm-c-app-header-tablet-nav-header-color-background: var(--color-mp-brand);
  --sm-c-app-header-tablet-nav-close-button-color-background: var(--color-mp-brand);
  --sm-c-app-header-tablet-nav-close-button-color-text: var(--color-pure-white);

  /* nav title */
  --sm-c-app-header-tablet-nav-header-title-color-text: var(--color-pure-white);
}
/* #endregion */

/* #region start sidebar design tokens */
.sm-aside {
  /* make the side-nav background white */
  --sm-c-aside-color-background: var(--color-pure-white);
  --sm-c-aside-footer-color-background: var(--color-pure-white);

  /* make active route have same background colour as the side-nav */
  --sm-c-aside-vertical-nav-item-color-background-active: var(--color-pure-white);

  /* adjust spacing at the top */
  --sm-c-aside-padding-top: var(--sm-16);

  /* right border */
  --sm-c-aside-content-shadow-width: 1px;
  --sm-c-aside-content-shadow-background-hover: var(--color-app);
  --sm-c-aside-content-shadow-background: var(--color-app);
}
/* #endregion */

.sm-input {
  --sm-c-field-label-padding-top: 0;
  --sm-c-input-counter-padding-top: 0;
}

.sm-table {
  --sm-c-table-border: 1px solid var(--color-app-mid);
  --sm-c-table-tr-color-background-hover: none;
}

.sm-checkbox__label {
  --sm-c-checkbox-label-margin-bottom: var(--sm-16);
}

.sm-table-th {
  --sm-c-table-th-color-background: var(--color-app-light);
}

.sm-progress-bar {
  --sm-c-progress-bar-color-text-outside-success: var(--color-pure-white);
  --sm-c-progress-bar-color-text-outside-info: var(--color-pure-white);
  --sm-c-progress-bar-color-text-outside-alert: var(--color-pure-white);
  --sm-c-progress-bar-color-text-outside-warning: var(--color-pure-white);
}

.sm-select {
  /* --sm-c-select-color-text: var(--color-warning-black); */

  /* other references to `var(--sm-` in the repo */
  /* styles for mp-dynamic-form-element-inline-text-dropdown-selection.vue */
  --sm-c-select-color-border: transparent;
  --sm-c-select-color-border-focus: transparent;
  --sm-c-select-border-width-bottom-focus: 1px;
  --sm-c-select-color-border-disabled: transparent;
  --sm-c-select-color-background-disabled: transparent;
  --sm-c-select-color-text: var(--color-primary);
  --sm-c-select-padding-y: 0;
  --sm-c-select-padding-x: 0;
  --sm-c-select-color-icon: var(--color-primary);
}

/* other references to `var(--sm-` in the repo */
/* currently will NOT work as we have removed date picker css variables from sui-themes */
/* see: libs/sui-themes/src/app/index.ts */
.sm-date-picker {
  --sm-c-date-picker-label-margin-bottom: var(--sm-8);
  --sm-c-date-picker-label-padding-top: var(--sm-8);
}
