/**
 * UTILITIES
 *
 * Explore the possibility of making these class names part of the SUI design system.
 * We're using cm-* prefix here to avoid confusion with existing SUI utility classes.
 * If and when we promote these to SUI, we should rename the cm-* prefixes to sm-*.
 *
 * We currently require installing sui-themes for these class names to work as
 * they reference SUI CSS variables.
 */

/* gaps */
.cm-flex-row--gap-4,
.cm-flex-row-center--gap-4,
.cm-flex-row-space-between--gap-4,
.cm-flex-column--gap-4,
.cm-flex-column-center--gap-4 {
  gap: var(--sm-4);
}

.cm-flex-row--gap-8,
.cm-flex-row-center--gap-8,
.cm-flex-row-space-between--gap-8,
.cm-flex-column--gap-8,
.cm-flex-column-center--gap-8 {
  gap: var(--sm-8);
}

.cm-flex-row--gap-12,
.cm-flex-row-center--gap-12,
.cm-flex-row-space-between--gap-12,
.cm-flex-column--gap-12,
.cm-flex-column-center--gap-12 {
  gap: var(--sm-12);
}

.cm-flex-row--gap-16,
.cm-flex-row-center--gap-16,
.cm-flex-row-space-between--gap-16,
.cm-flex-column--gap-16,
.cm-flex-column-center--gap-16 {
  gap: var(--sm-16);
}

.cm-flex-row--gap-20,
.cm-flex-row-center--gap-20,
.cm-flex-row-space-between--gap-20,
.cm-flex-column--gap-20,
.cm-flex-column-center--gap-20 {
  gap: var(--sm-20);
}

.cm-flex-row--gap-24,
.cm-flex-row-center--gap-24,
.cm-flex-row-space-between--gap-24,
.cm-flex-column--gap-24,
.cm-flex-column-center--gap-24 {
  gap: var(--sm-24);
}

.cm-flex-row--gap-32,
.cm-flex-row-center--gap-32,
.cm-flex-row-space-between--gap-32,
.cm-flex-column--gap-32,
.cm-flex-column-center--gap-32 {
  gap: var(--sm-32);
}

.cm-grid-responsive--gap-4 {
  grid-gap: var(--sm-4);
}

.cm-grid-responsive--gap-8 {
  grid-gap: var(--sm-8);
}

.cm-grid-responsive--gap-12 {
  grid-gap: var(--sm-12);
}

.cm-grid-responsive--gap-16 {
  grid-gap: var(--sm-16);
}

.cm-grid-responsive--gap-20 {
  grid-gap: var(--sm-20);
}

.cm-flex {
  display: flex;
  place-items: center;
}

.cm-flex-col {
  flex-direction: column;
}

.cm-flex-1 {
  flex: 1;
}

.cm-flex-row-center {
  justify-content: center;
}

.cm-flex-row-end {
  justify-content: flex-end;
}

.cm-flex-wrap {
  flex-wrap: wrap;
}

.cm-place-items-start {
  place-items: flex-start;
}

.cm-place-items-stretch {
  place-items: stretch;
}

.cm-place-content-between {
  place-content: space-between;
}

.cm-place-content-end {
  place-content: end;
}

/* typography */
.cm-font-bold {
  font-weight: 600;
}

/* paddings */
.cm-pl-12 {
  padding-left: var(--sm-12);
}

.cm-pr-16 {
  padding-right: var(--sm-16);
}

.cm-p-24 {
  padding: var(--sm-24);
}

/* margins */
.cm-mb-0 {
  margin-bottom: 0;
}

.cm-mb-8 {
  margin-bottom: var(--sm-8);
}

.cm-mb-24 {
  margin-bottom: var(--sm-24);
}

.cm-mb-32 {
  margin-bottom: var(--sm-32);
}

.cm-mr-0 {
  margin-right: 0;
}

.cm-mt-32 {
  margin-top: var(--sm-32);
}

.cm-max-w-xs {
  max-width: 20rem;
}

.cm-max-w-lg {
  max-width: 32rem;
}

.cm-min-w-248 {
  min-width: 248px;
}

/* placements */
.cm-absolute {
  position: absolute;
}

.cm-relative {
  position: relative;
}

.cm-top-0 {
  top: 0;
}

.cm-right-0 {
  right: 0;
}

.cm-overflow-y-scroll {
  overflow-y: scroll;
}

.cm-image-container {
  width: 300px;
  height: 200px;
}

.cm-w-full {
  width: 100%;
}

.cm-w-1\/2 {
  width: 50%;
}

/* aspect ratios */
.cm-aspect-image {
  aspect-ratio: 4 / 3;
}

/**
 * sm-icon sizes and colours
 * Can be cleaned up once we've finalized https://siteminder-jira.atlassian.net/browse/SUI-2160
 * and https://siteminder-jira.atlassian.net/browse/SUI-1222
 */
.cm-disabled-dark {
  color: var(--color-disabled-dark);
}

.cm-pure-white {
  color: var(--color-pure-white);
}

.cm-icon.cm-icon--large {
  font-size: 24px;
}

/**
 * APP-LEVEL CUSTOM STYLES
 */
.cm-code-block {
  padding: var(--sm-16);
  background-color: var(--color-extra-4);
  border-radius: 4px;
  font-family: monospace;
  max-width: 640px;
}

.cm-color-picker-input-suffix {
  border-radius: inherit;
  transform: translate(0px, -1px);
}
