/**
 * Global Storybook overrides
 */
 .sb-show-main #root {
  padding: 15px;
}

.sb-show-main.fullscreen {
  padding: 0;
  margin: 0;
}

.sb-show-main.fullscreen #root {
  padding: 0;
}

/**
 * Custom SUI Storybook utility classes
 */
.sui-storybook {
  &-code {
    background-color: #333;
    border-radius: 4px;
    color: #fff;
    padding: 12px 16px;
    font-size: 14px;

    em {
      color: #9b9b9b;
    }

    &--block {
      display: block;
      white-space: pre-line;
    }

    &--inline {
      display: inline-block;
      padding: 2px 6px;
    }

    &--light {
      background-color: #eaeaea;
      color: #333;
    }
  }

  &-image {
    display: block;
    border: 1px solid #c6ceda;
    border-radius: 4px;
    max-width: 640px;
    width: 100%;
  }

  /* Titles/labels for story variants */
  &-header {
    display: block;
    letter-spacing: -0.2px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 8px;
  }
}
