.sui-storybook-h2.sui-storybook-h2 {
  border: 0;
  border-top: 1px solid #c6ceda;
  box-shadow: none;
  margin: 40px 0 16px;
  padding: 40px 0 0;

  &--hide-divider {
    border-top: 0;
    padding-top: 0;
  }
}
